*.mod
BackupNumericalLoewner.F03
*.out
*.txt
output/
*pycache*
outputimages/*
outputimages/
*.so
loewnertest.py
Test.F90
*.F90#
*.swp
.#*
*.swo
*.pyc
misc/*
misc
*.sh
quartic.f90
cubictest.py
compiletest.py
poly3zerosModule.f90
*poly3zeros*
*.pdf
*.csv
